[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "external/FunctionalPlus"]
	path = external/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus.git
[submodule "external/imgui_markdown"]
	path = external/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
[submodule "ImGuiColorTextEdit"]
	url = https://github.com/pthom/ImGuiColorTextEdit.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/pthom/imgui.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/jrynkiew/imgui-node-editor
[submodule "external/pebble-tracker-firmware"]
	path = external/pebble-tracker-firmware
	url = https://github.com/jrynkiew/pebble-tracker-firmware.git
	branch = master
[submodule "external/JRPC"]
	path = external/JRPC
	url = https://github.com/jrynkiew/JRPC.git
	branch = master
