[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "external/FunctionalPlus"]
	path = external/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus.git
[submodule "external/imgui_markdown"]
	path = external/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
[submodule "ImGuiColorTextEdit"]
	url = https://github.com/pthom/ImGuiColorTextEdit.git
